@import '@/styles/variable.scss';

.header {
  height: $header-height;
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.page.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $container-width;
  z-index: 10;
}

.sidebar.header {
  position: relative;
  z-index: 11;
}

.icon {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
}

.page.icon {
  width: 2.5rem;
  height: 2.5rem;
  left: 2rem;
}

.sidebar.icon {
  right: 2rem;
  width: 2.2rem;
  height: 2.2rem;
}
