@import '@/styles/variable.scss';

.slider {
  background-color: $white;
  padding: 0 1.5rem;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  border-bottom: #c4c4c4 0.1rem solid;
  user-select: none;
  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }
}
