@import '@/styles/variable.scss';

.section-title {
  padding: 2rem;
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: $black;
}

.highlight {
  font-weight: 500;
  font-size: 1.5rem;
  color: $highlight;
  letter-spacing: 1px;
}
