@import '@/styles/variable.scss';

.item-box {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 1px;
  padding: 2.5rem 2rem;
  background-color: $white;
}

.item-image {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  background-color: $container_bg;
}

.item-brand {
  font-weight: 400;
  font-size: 1.4rem;
  color: $gray;
}

.item-name {
  font-weight: 400;
  font-size: 1.6rem;
  color: $black;
  padding-bottom: 0.5rem;
}

.item-price-info > span + span {
  margin-left: 9px;
}

.item-discount-rate {
  font-weight: 500;
  font-size: 1.6rem;
  color: $highlight;
}

.item-selling-price {
  font-weight: 600;
  font-size: 1.6rem;
  color: $black;
}

.item-original-price {
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: line-through;
  color: $gray;
}
