@import '@/styles/variable.scss';

.slider-item {
  font-size: 1.4rem;
  color: $black;
  padding: 1.1rem;
  display: inline-block;
  cursor: pointer;
  border-bottom: 0.2rem solid transparent;
}

.active {
  color: $highlight;
  border-bottom: 0.2rem solid $highlight;
}
